.peopleCard img {
	border-radius: 5px 0 0 5px;
	height: 100%;
}
.peopleCard {
	background-color: #fff;
	margin: 20px 10px 5px 10px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	box-shadow: 0px 5px 10px #2f2f2f25;
	cursor: pointer;
	width: 450px;
	height: 230px;
	transition: 200ms;
}
.peopleCard:hover {
	scale: 1.02;
	box-shadow: 0px 15px 25px #2f2f2f50;
}
.desc {
	color: #515151;
	padding: 20px;
	font-size: 0.9rem;
}
.desc p {
	margin: 5px 0;
}
.name h2 {
	font-size: 1.7rem;
	margin: 0;
	padding: 0;
}
.info {
	text-align: justify;
}

@media screen and (max-width: 767px) {
	.peopleCard img {
		display: none;
	}
	.peopleCard {
		width: 100%;
		margin: 2rem 0;
		height: 300px;
	}
	.peopleCard h2 {
		text-align: center;
	}
	.peopleCards {
		margin: 1.5rem 1rem;
	}
	.desc {
		padding: 20px;
		font-size: 0.8rem;
	}
}
