.card__image {
	border-radius: 5px 0 0 5px;
	height: 100%;
}
.description__name {
	font-size: 1.7rem;
	margin: 0;
	padding: 0;
}
.card__description {
	color: #515151;
	width: 100%;
	padding: 20px;
	font-size: 0.9rem;
}
.description__paragraph {
	text-align: justify;
	margin: 5px 0;
}
.card {
	background-color: #fff;
	margin: 1.5rem 0.5rem;
	border-radius: 5px;
	outline: 1px solid #7575755a;
	display: flex;
	align-items: center;
	cursor: pointer;
	width: 450px;
	height: 230px;
	transition: 120ms;
}
.card:hover {
	scale: 1.04;
	outline: 2px solid #ce181e;
}

@media screen and (max-width: 767px) {
	.card__image {
		display: none;
	}
	.card {
		width: 90vw;
		margin: 1rem 0;
		height: 300px;
	}
	.description__name {
		text-align: center;
	}
	.description {
		padding: 20px;
		font-size: 0.8rem;
	}
}
