.header {
	position: sticky;
	top: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #ce181e;
	color: #fff;
	font-size: 150%;
}
.search_bar {
	width: 70%;
	margin: 1rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.8rem 1rem;
	border-radius: 5px;
	background: #fff;
}
.search_bar__input {
	flex: 1;
	border: none;
	font-size: 1.3rem;
	font-family: var(--font-raleway);
	font-weight: 500;
	padding-right: 1rem;
	outline: none;
	color: #757575;
	background: #fff;
}
.search_bar__icon {
	font-size: 1.3rem;
	color: #757575;
}
.list_of_people {
	margin: 25px 2%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.list_of_people--empty {
	padding: 2rem;
	color: #757575;
	font-size: 1.3rem;
}

@media screen and (max-width: 767px) {
	.header {
		position: static;
	}
	.search_bar {
		padding: 1rem 1.5rem;
	}
	.search_bar__input,
	.search_bar__icon {
		font-size: 1.2rem;
	}
}
