.header {
	background-color: #ce181e;
	padding: 1rem 10% 1rem 10%;
	color: #fff;
	margin: 0;
	font-size: 150%;
}
.header__title {
	font-size: 3rem;
	margin: 2rem;
	display: flex;
	justify-content: center;
}
.header__site_description {
	margin-bottom: 0;
	display: flex;
	justify-content: center;
}
.footer {
	border-top: 2px solid #cacaca;
	padding: 40px;
	margin-top: 100px;
	font-size: 120%;
	color: #727272;
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 767px) {
	.header {
		font-size: 100%;
	}
	.header__site_description {
		text-align: center;
	}
	.header__title {
		padding: 0;
		font-size: 2rem;
		margin: 10px;
	}
}
