.navigation__button--back:visited {
	color: #515151;
}
.navigation {
	display: flex;
	align-items: center;
	justify-content: start;
}
.navigation__button--back * {
	font-size: 1rem;
	margin: 0;
}
.button--back__text {
	font-weight: 700;
	margin-left: 0.7rem;
	font-size: 1.5rem;
}
.navigation__button--back {
	padding: 1rem;
	transition: 500ms;
}
.navigation__button--back:hover {
	color: #ce181e;
}
.firstInfo {
	margin: 1rem 0;
}
.first_info__people_image {
	display: flex;
	justify-content: center;
}
.people_image__image {
	border-radius: 5px;
}
.first_info__name {
	font-size: 1.5rem;
	margin: 2rem;
	text-align: center;
}
.description {
	padding: 0 5% 3rem 5%;
}
.description__paragraf {
	text-align: justify;
}
.map {
	height: 500px;
	width: 100%;
	border: 0;
	border-radius: 5px;
}
.container {
	padding: 2rem 10%;
}

@media screen and (max-width: 767px) {
	.first_info__name {
		font-size: 1rem;
	}
	.navigation {
		justify-content: center;
	}
	.description {
		padding: 0;
		margin-bottom: 3rem;
	}
	.container {
		padding: 1rem 5%;
	}
}
